<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Icons"
  />
    <link rel="stylesheet" href="../../AdornUI.css"/>
</head>
<body>
  
   
    <div class="page-layout">
      <header class="page-header">
        <div class="logo">Logo</div>
              <ul class="nav-items">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="alert.html">Documentation</a></li>
              </ul>
      </header>
      <div class="sidebar">
        <h3 class="sidebar-heading">Components</h4>
        <h5 class="sidebar-list-item"><a class="nav-link" href="../alert/alert.html">Alerts</a></h5>
        <h5 class="sidebar-list-item"><a class="nav-link" href="../avatar/avatar.html"></a>Avatar</h5>
        <h5 class="sidebar-list-item">Badge</h5>
        <h5 class="sidebar-list-item">Buttons</h5>
        <h5 class="sidebar-list-item">Cards</h5>
        <h5 class="sidebar-list-item">Image</h5>
        <h5 class="sidebar-list-item">Input</h5>
      </div>
      <section class="section-avatar">
        <h2 class="avatar__heading">Avatar</h2>
        <h2 class="avatar__description">
          Avatars are used for user profile pictures and for showing user
          presence like online/offline.
        </h2>
        <div class="avatar-main-container">
          <figure class="avatar-container">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              class="avatar avatar-xl"
            />
          </figure>

          <figure class="avatar-container">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              class="avatar avatar-lg"
            />
          </figure>
          <figure class="avatar-container">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              class="avatar avatar-sm"
            />
          </figure>
          <figure class="avatar-container">
            <img
              src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              alt=""
              class="avatar avatar-xs"
            />
          </figure>
        </div>
        </section>
        <footer class="footer"></footer>
        </div>
