<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Icons"
  />
    <link rel="stylesheet" href="../../AdornUI.css"/>
</head>
<body>
  
   
    <div class="page-layout">
      <header class="page-header">
        <div class="logo">Logo</div>
              <ul class="nav-items">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="alert.html">Documentation</a></li>
              </ul>
      </header>
      <div class="sidebar">
        <h3 class="sidebar-heading">Components</h4>
          <h5 class="sidebar-list-item"><a class="nav-link" href="alert.html">Alerts</a></h5>
        <h5 class="sidebar-list-item"><a class="nav-link" href="../avatar/avatar.html">Avatar</a></h5>
      
          <h5 class="sidebar-list-item">Badge</h5>
        <h5 class="sidebar-list-item">Buttons</h5>
        <h5 class="sidebar-list-item">Cards</h5>
        <h5 class="sidebar-list-item">Image</h5>
        <h5 class="sidebar-list-item">Input</h5>
      </div>
      <section class="section-alert">
        <h1 class="alert__heading">Alerts</h1>
        <h3 class="alert__description">
          Alerts are used to force the user to read a specific message which
          might specify danger,success,warning orcertain information to the
          user. It takes away the attention of the user from current window and
          diverts him to specific message.
        </h3>

        <div class="alerts-container">
          <div class="alert-box alert-success">
            Success! Indicates positive action to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-danger">
            Danger! Indicates danger negative action to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-warning">
            Warning Alert. Indicates warning to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-primary">
            Primary Alert. Indicates any regular or normal information to the
            user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-secondary">
            Secondary Alert. Indicates any secondary information to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
        </div>
          <iframe
            src="https://carbon.now.sh/embed/3V17OO3jgg3WIbrFz9rk"
            style="
              width: 799px;
              height: 763px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
              margin: 1rem;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
       
        <h3 class="alert__sub-heading">Alerts with icons</h3>
        <div class="alert-icons-container">
          <div class="alert-box alert-success">
            <span class="material-icons">
              check_circle
            </span>
            Success! Indicates positive action to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-danger">
            <span class="material-icons">
              dangerous
            </span>
            Danger! Indicates danger negative action to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>
          <div class="alert-box alert-warning">
            <span class="material-icons">
              warning
            </span>
            Warning Alert. Indicates warning to the user.
            <span class="material-icons close-btn">
              close
            </span>
          </div>

        
        </div>
        <iframe
        src="https://carbon.now.sh/embed/3V17OO3jgg3WIbrFz9rk"
        style="
          width: 698px;
          height: 707px;
          border: 0;
          transform: scale(1);
         overflow: hidden;
         margin: 1rem;
        "
        sandbox="allow-scripts allow-same-origin"
      >
      </iframe>
      </section>
  
      <footer class="footer"></footer>
    </div>
  
   
</body>
</html>